<% @title = 'アカウント情報編集' %>
<h1><% @title %></h1>

<div id="generic-form">
  <%#
    フォームデータの送信に使用されるHTTPメソッドは、form_forメソッドの
    第一引数(staff_member)に指定したモデルオブジェクトがDBに保存されているかどうか
    (id属性に値がセットされているかどうか)で決まる。保存前ならPOSTメソッド、保存済みなら
    PATCHメソッドが選択される。
  %>
  <%= form_for @staff_member, url: staff_account do |f| %>
      <%= render 'from', f: f %>
      <div class="buttons">
          <%= f.submit '更新' %>
          <%= link_to 'キャンセル', :staff_account %>
      </div>
  <% end %>
</div>
